body {
    background-color: rgba(143, 143, 143, 1);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7SJRmWO41OOhib33LnukCJysJ9OL_cVvdcQ&s");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
}

.home-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 5rem;
}

.home-title {
    font-size: 6rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.description {
    font-size: 1.5rem;
    color: #FFFFFF;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
    max-width: 100%;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    max-width: 400px;
}

.btn-login {
    background-color: #30E354;
    border-color: #00E62E;
    width: 100%; 
}

.btn-signup {
    background-color: #30E390;
    border-color: #30E3CD;
    width: 100%;  
}


@media (max-width: 768px) {
    .home-title {
        font-size: 4rem; 
    }

    .description {
        font-size: 1.2rem; 
    }
}

@media (max-width: 576px) {
    .home-title {
        font-size: 3rem;  
    }

    .description {
        font-size: 1rem; 
    }
}
