body {
  background-color: rgba(143, 143, 143, 1);
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-height: 100vh;

}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://ideogram.ai/assets/progressive-image/balanced/response/cBOFsQXnTsqxgu8BCw4KoA");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(6px);
  z-index: -1;
}

.btn-edit {
  background-color: #30e390;
}

.table {
  color: white;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.review {
  color: white;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.business {
  color: white;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}


.navbar {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
  height: 70px; 
  padding: 0 20px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: relative;
}

.navbar .dropdown {
  position: absolute;
  right: 30px; 
}

.navbar-brand {
  position: absolute;
  left: 30px;
}

.icon-n {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.dropdown button {
  font-size: 1.5rem; 
}
/* el css del login comienza aqui */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  min-height: 50vh;

  
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.user-type-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
}

.user-type-option {
  font-size: 1rem;
  cursor: pointer;
  color: #555;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group small {
  display: block;
  margin-top: 5px;
  font-size: 0.875rem;
  color: #888;
}

.login-button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #0056b3;
}

a {
  margin-top: 10px;
  font-size: 0.875rem;
  color: #007bff;
  text-decoration: none;
}


.people {
  color: white;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);


}

.cardPeople{
  color: white;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10 px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  
}

.infoPerson{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-right: 200px;
  margin-top: 70px;
  

}

.personImg{
margin-left: 50px;
margin-top: 20px;

}

.trash{
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid::-webkit-scrollbar{

  background:#333;
  width: 20px;
  overflow-x: hidden;

}

.container-fluid::-webkit-scrollbar-thumb{
background: #b2b8b9;
border-radius: 10px;
}

.container-fluid{
  border-radius: 10px;
  overflow-x: hidden;
}

.my-13{
  height: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: auto
}


a:hover {
  text-decoration: underline;
}

/* el estilo del footer  */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

